{% extends 'base.html' %}
{% block title %}Donation - {{title}}{% endblock %}

{% block nav %}
<li><a href="{{ url_for('index') }}" class="nav-link">Home</a></li>
<li><a href="{{ url_for('fund.form') }}" class="nav-link">Create Fundraiser</a></li>
{% if g.user %}
<li><a href="{{ url_for('fund.contact', UserID=g.user[0]) }}" class="nav-link">Profile</a></li>
<li><a href="{{ url_for('auth.logout') }}" class="nav-link">logout</a></li>
{% else %}
<li><a href="{{ url_for('auth.Signup') }}" class="nav-link">Sign-up</a></li>
<li><a href="{{ url_for('auth.login') }}" class="nav-link">Login</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="site-section bg-image overlay-primary" style="background-image: url('../static/images/helping.jpg');">
    <div class="container">
        <div class="row align-items-stretch">
            <div class="col-md-6">
                <img src="../static/images/helping.jpg" alt="Image" class="img-fluid shadow">
            </div>
            <div class="col-md-6">
                <div class="bg-white h-100 p-4 shadow">
                <h3 class="mb-4 text-cursive">Donate</h3>
                <form method="POST">
                    <div class="form-group">
                    {% if title != None %}
                    <input type="text" class="form-control" placeholder="Title" name="title" value="{{ title }}">
                    {% else %}
                    <input type="text" class="form-control" placeholder="Title" name="title">
                    {% endif %}
                    </div>
                    <div class="form-group">
                    <input type="number" class="form-control" placeholder="Donation amount" name="amount">
                    </div>
                    <div class="form-group">
                    <input type="submit" value="Complete" class="btn btn-primary">
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}