{% extends 'base.html' %}
{% block title %}form{% endblock %}

{% block nav %}
<li><a href="{{ url_for('index') }}" class="nav-link">Home</a></li>
<li class="active"><a href="{{ url_for('fund.form') }}" class="nav-link">Create Fundraiser</a></li>
{% if g.user %}
<li><a href="{{ url_for('fund.contact', UserID=g.user[0]) }}" class="nav-link">Profile</a></li>
<li><a href="{{ url_for('auth.logout') }}" class="nav-link">logout</a></li>
{% else %}
<li><a href="{{ url_for('auth.Signup') }}" class="nav-link">Sign-up</a></li>
<li><a href="{{ url_for('auth.login') }}" class="nav-link">Login</a></li>
{% endif %}
{% endblock %}


{% block content %}
    
  <div class="site-section bg-image overlay-primary" style="background-image: url('static/images/helping.jpg');">
    <div class="container">
      <div class="row align-items-stretch">
        <div class="col-md-6">
          <img src="static/images/helping.jpg" alt="Image" class="img-fluid shadow">
        </div>
        <div class="col-md-6">
          <div class="bg-white h-100 p-4 shadow">
            <h3 class="mb-4 text-cursive">Your Fundraiser</h3>
            <form method="POST">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Title" name="title">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Description" name="description">
              </div>
              <div class="form-group">
                <input type="number" class="form-control" placeholder="$ Goal amount" name="goal">
              </div>
              <div class="form-group">
                <input type="submit" value="Complete" class="btn btn-primary">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>




<div class="site-section">
  <div class="container">
        <div class="d-md-flex cta-20101 align-self-center bg-light p-5">
          <div class=""><h2 class="text-cursive">Show your support for a local or international cause</h2></div>
          <div class="ml-auto"><a href="{{url_for('fund.donation')}}" class="btn btn-primary">Donate Now</a></div>
        </div>
    
  </div>
</div>
{% endblock %}
