<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}form{% endblock %}

{% block nav %}
<li><a href="{{ url_for('index') }}" class="nav-link">Home</a></li>
<li class="active"><a href="{{ url_for('fund.form') }}" class="nav-link">Create Fundraiser</a></li>
{% if g.user %}
<li><a href="{{ url_for('auth.contact', UserID=g.user[0]) }}" class="nav-link">Profile</a></li>
<li><a href="{{ url_for('auth.logout') }}" class="nav-link">logout</a></li>
{% else %}
<li><a href="{{ url_for('auth.Signup') }}" class="nav-link">Sign-up</a></li>
<li><a href="{{ url_for('auth.login') }}" class="nav-link">Login</a></li>
{% endif %}
{% endblock %}

{% block content %}
  <!-- <div class="site-section bg-image overlay-primary" style="background: linear-gradient(to top, #f3b12e77, #75c8ae8e), url(static/images/oldlady.jpg);"> -->
    <div class="site-section" style="background-color: white;">
    <div class="container">
      <div class="row align-items-stretch">
        <div class="col-md-6">
          <div class="drag-drop-area" id="dragDropArea">Click or drag image here</div>
      </div>
        <div class="col-md-6">
          <div class="bg-white h-100 p-4 shadow">
            <h3 class="mb-4 text-cursive">Your Fundraiser</h3>
            <form method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <input type="file" id="imageInput" accept="image/*" style="display:none;">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Title" name="title">
              </div>
              <div class="form-group">
                <input type="number" class="form-control" placeholder="$ Goal amount" name="goal">
              </div>
              <div class="form-group">
                <textarea class="form-control-label-desc" placeholder="Description" name="description" rows="1"></textarea>
            </div>
            
            
              <div class="form-group">
                <input type="date" class="form-control" name="date">
              </div>
              <div class="tags-input">
                <input type="text" id="tagInput" placeholder="Enter tags...">
            </div>
            <script src="main.js"></script>
            <div class="form-group">
              <input type="submit" value="Complete" class="btn btn-primary submit-button">
          </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}