{% extends 'base.html' %}
{% block title %}fundraisers{% endblock %}

{% block nav %}
<li><a href="{{ url_for('index') }}" class="nav-link">Home</a></li>
<li class="active"><a href="{{ url_for('fund.form') }}" class="nav-link">Create Fundraiser</a></li>
<li><a href="{{ url_for('fund.contact') }}" class="nav-link">Profile</a></li>
{% if g.user %}
<li><a href="{{ url_for('auth.logout') }}" class="nav-link">logout</a></li>
{% else %}
<li><a href="{{ url_for('auth.Signup') }}" class="nav-link">Sign-up</a></li>
<li><a href="{{ url_for('auth.login') }}" class="nav-link">Login</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="owl-carousel-wrapper">

    <div class="box-92819">
        <h1 class="text-white mb-3">Title</h1>
        <p class="lead text-white">TDescription</p>
    </div>


    <div class="ftco-cover-1 overlay" style="background-image: url('static/images/Homeless.jpg');"></div>

</div>


<div class="site-section">
    <div class="container">

        <div class="row mb-5 align-items-st">
            <div class="col-md-5">
                <div class="heading-20219">
                    <h2 class="title text-cursive mb-4">Helping the Homeless</h2>
                    <p>Long Description</p>
                    <p><a href="#" class="btn btn-primary rounded-0 px-4">Donate Now</a></p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="cause shadow-sm">

                    <a href="#" class="cause-link d-block">
                        <img src="static/images/Giving-Food.jpg" alt="Image" class="img-fluid">
                        <div class="custom-progress-wrap">
                            <span class="caption">% Complete</span>
                            <div class="custom-progress-inner">
                                <div class="custom-progress bg-danger" style="width: 80%;"></div>
                            </div>
                        </div>
                    </a>

                    <div class="px-3 pt-3 border-top-0 border border shadow-sm">
                        <span class="badge-danger py-1 small px-2 rounded mb-3 d-inline-block">Tag</span>
                        <h3 class="mb-4"><a href="#">Title</a></h3>
                        <div class="border-top border-light border-bottom py-2 d-flex">
                            <div>Donated</div>
                            <div class="ml-auto"><strong class="text-primary">$</strong></div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="site-section">
    <div class="container">
          <div class="d-md-flex cta-20101 align-self-center bg-light p-5">
            <div class=""><h2 class="text-cursive">Show your support for a local or international cause</h2></div>
            <div class="ml-auto"><a href="#" class="btn btn-primary">Donate Now</a></div>
          </div>
      
    </div>
  </div>
{% endblock %}