<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}home{% endblock %}

{% block nav %}
<li class="active"><a href="{{ url_for('index') }}" class="nav-link">Home</a></li>
<li><a href="{{ url_for('fund.form') }}" class="nav-link">Create Fundraiser</a></li>
{% if g.user %}
<li><a href="{{ url_for('fund.contact', UserID=g.user[0]) }}" class="nav-link">Profile</a></li>
<li><a href="{{ url_for('auth.logout') }}" class="nav-link">logout</a></li>
{% else %}
<li><a href="{{ url_for('auth.Signup') }}" class="nav-link">Sign-up</a></li>
<li><a href="{{ url_for('auth.login') }}" class="nav-link">Login</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="owl-carousel-wrapper">
  <div class="box-92819">
    <h1 class="text-white mb-3">Help those in need locally and internationally</h1>
    <p><a href="{{url_for('fund.donate')}}" class="btn btn-primary py-3 px-4 rounded-0">Donate Now</a></p>
  </div>
  <div class="owl-carousel owl-1 ">
    <div class="ftco-cover-1 overlay" style="background-image: url('static/images/education.jpgprocessalways');"></div>
    <div class="ftco-cover-1 overlay" style="background-image: url('static/images/health.jpg');"></div>
    <div class="ftco-cover-1 overlay" style="background-image: url('static/images/dog.jpg');"></div>
  </div>
</div>
<div class="site-section">
  <div class="container">
    <div class="row mb-5 align-items-st">
      <div class="col-md-4">
        <div class="heading-20219">
          <h2 class="title text-cursive">Recent Fundraisers</h2>
        </div>
      </div>
      <div class="col-md-8">
        <p>Help them reach their goal!</p>
      </div>
    </div>
    <div class="row">
      <!-- make these auto-populated with the funds list of fundraisers with labels: FundName, FundTyp, Goal, Raised-->
      {% for fund in funds %}
      {% set number = ((fund[5]/fund[4])*100)|int %}
      <div class="col-md-4">
        <div class="cause shadow-sm">
          <a href="{{ url_for('fund.fundraisers', fund_name=fund[0]) }}" class="cause-link d-block">
            <img src="static/images/Homeless.jpg" alt="Image" class="img-fluid">
            <div class="custom-progress-wrap">
              <span class="caption">{{ number }}% complete</span>
              <div class="custom-progress-inner">
                <div class="custom-progress bg-danger" style="width: {{ number }}%;"></div>
              </div>
            </div>
          </a>
          <div class="px-3 pt-3 border-top-0 border border shadow-sm">
            <h3 class="mb-4">{{ fund[0] }}</h3>
            <div class="border-top border-light border-bottom py-2 d-flex">
              <div>Donated</div>
              <div class="ml-auto"><strong class="text-primary">${{ fund[4] }}</strong></div>
            </div>             
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="site-section">
  <div class="container">
    <div class="d-md-flex cta-20101 align-self-center bg-light p-5">
      <div class=""><h2 class="text-cursive">Show your support for a local or international cause</h2></div>
      <div class="ml-auto"><a href="{{url_for('fund.donate')}}" class="btn btn-primary">Donate Now</a></div>
    </div>
  </div>
</div>
{% endblock %}
