<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block nav %}
<li><a href="{{ url_for('index') }}" class="nav-link">Home</a></li>
<li><a href="{{ url_for('fund.form') }}" class="nav-link">Create Fundraiser</a></li>
{% if g.user %}
<li><a href="{{ url_for('auth.contact', UserID=g.user[0]) }}" class="nav-link">Profile</a></li>
<li><a href="{{ url_for('auth.logout') }}" class="nav-link">logout</a></li>
{% else %}
<li><a href="{{ url_for('auth.Signup') }}" class="nav-link">Sign-up</a></li>
<li class="active"><a href="{{ url_for('auth.login') }}" class="nav-link">Login</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div>
  <div class="m-margins bg-white h-100 p-4 shadow">
    <h3 class="form-control-label mb-4 text-cursive">Login</h3>
    <form method="POST">
      <div class="form-group">
        <input name="username" type="text" class="form-control" placeholder="Username">
      </div>
      <div class="form-group">
        <input name="password" type="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-control-label">
        <input type="submit" value="Login" class="btn btn-primary">
      </div>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert" style="color: red;">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
</div>
{% endblock %}